@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}

:root {
    --linear-grad: linear-gradient(to right,#7624C6,rgba(128, 21, 167, 0.689));
    --grad-clr1: rgba(128, 21, 167, 0.689);
    --grad-clr2: rgba(128, 21, 167, 0.689);
}

body {
    height: 100vh;
    background: #FCFDF3;
    display: grid;
    place-content: center;
    font-family: 'Poppins', sans-serif;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: auto;
  }
.container{
    position: relative;
    width: 850px;
    height: 500px;
    background-color: #FCFDF3;
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow:hidden;
}

.form-container {
    position: absolute;
    width: 60%;
    height: 500px;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.sign-up-container{
    opacity: 1;
    z-index: 1;
}



form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;

}

h1{
    color: var(--grad-clr1);
}

.social-container{
    margin: 20px 0px;
}

.social-container a{
    border: 1px solid #DDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    height: 40px;
    width: 40px;
}

span{

    font-size: 12px;
}

.infield{
    position: relative;
    margin: 8px 0px;
    width:100%;
}

input{
    width:100%;
    padding: 12px 8px;
    background-color: #FCFDF3;
    border:  lightgray;
    outline: none;
}

label{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: var(--linear-grad);
    transition: 0.3s;

}

input:focus ~ label{
    width: 100%;
}

/* a {
    
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
} */

.social{
    color: black;
    text-decoration: none;
}

.socail:hover{
    color: var(--linear-grad); 
    text-decoration: none;
}

/* a:hover {
    
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
} */

a.forgot{

    padding-bottom: 3px;
    border-bottom: 2px solid #FCFDF3;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;

}

/* #mera-link{

    color: #FCFDF3;
    
} */

/* #abc{
    color: #FCFDF3;
}

#abc:hover{
    color:rgb(182, 45, 182);
} */

/* #mera-link:hover{
    color:rgb(182, 45, 182);
} */

 
#abc{

    border-radius: 20px;
    border: 1px solid var(--linear-grad);
    background: var(--linear-grad);
    color: #FCFDF3;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* #abc:hover{
    border-radius: 20px;
    border: 1px solid var(--grad-clr2) ;
    background:  #FCFDF3;
   
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
} */

#lmn{

    border-radius: 20px;
    border: 1px solid var(--grad-clr1);
    background: #FCFDF3;
    color: var(--grad-clr2);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
} 

#go_signup{
    text-decoration: none;
    color: var(--linear-grad);
}

#go_login{
    text-decoration: none;
    color: #FCFDF3;
}


/* .form-container button{

    margin-top: 17px;
    transition: 80ms ease-in;
}

.form-container button:hover {
    background: #FCFDF3;
    color: var(--grad-clr2);
} */

.overlay-container{
    position: absolute;
    top:0;
    left:60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
}

.overlay.overlay-panel .overlay-right button {

    
    position: absolute;
    left: 50%;
    top: 304px;
    transform: translateX(-50%);
    width: 143.67px;
    height: 40px;
    border: 1px solid #FCFDF3;
    background: transparent;
}


.overlay{

    position: relative;
    background: var(--linear-grad);
    color: #FCFDF3;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.overlay-panel{

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: trasform 0.6s ease-in-out;
}

.overlay-right{
    right: 0;
    transform: translateX(0%);
}

.overlay-panel h1 {
    color: #FCFDF3;
}

p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 25px 0px 35px;
}
.overlay-panel button{
    border: 1px solid #FCFDF3;
    background-color: transparent;
}
 